.asb-schedule-color-1 {
	background-color: #e6b8af;
}
.asb-schedule-color-2 {
	background-color: #f4cccc;
}
.asb-schedule-color-3 {
	background-color: #fce5cd;
}
.asb-schedule-color-4 {
	background-color: #fff2cc;
}
.asb-schedule-color-5 {
	background-color: #d9ead3;
}
.asb-schedule-color-6 {
	background-color: #d0e0e3;
}
.asb-schedule-color-7 {
	background-color: #c9daf8;
}
.asb-schedule-color-8 {
	background-color: #cfe2f3;
}
.asb-schedule-color-9 {
	background-color: #d9d2e9;
}
.asb-schedule-color-10 {
	background-color: #ead1dc;
}
.asb-schedule-color-11 {
	background-color: #dd7e6b;
}
.asb-schedule-color-12 {
	background-color: #ea9999;
}
.asb-schedule-color-13 {
	background-color: #f9cb9c;
}
.asb-schedule-color-14 {
	background-color: #ffe599;
}
.asb-schedule-color-15 {
	background-color: #b6d7a8;
}
.asb-schedule-color-16 {
	background-color: #a2c4c9;
}
.asb-schedule-color-17 {
	background-color: #9fc5e8;
}

.schedule-color-1 {
	background-color: #e67e80;
}
.schedule-color-2 {
	background-color: #7fbbb3;
}
.schedule-color-3 {
	background-color: var(--bg-3);
	color: var(--fg);
}
.schedule-color-4 {
	background-color: #dbbc7f;
}
.schedule-color-5 {
	background-color: #a7c080;
}
.schedule-color-6 {
	background-color: #7fbbb3;
}
.schedule-color-7 {
	background-color: #83c092;
}
.schedule-color-8 {
	background-color: #83c092;
}
.schedule-color-9 {
	background-color: #d699b6;
}
.schedule-color-10 {
	background-color: #e69875;
}
.schedule-color-11 {
	background-color: #e67e80;
}
.schedule-color-12 {
	background-color: #d699b6;
}
.schedule-color-13 {
	background-color: #e69875;
}
.schedule-color-14 {
	background-color: #dbbc7f;
}
.schedule-color-15 {
	background-color: #83c092;
}
.schedule-color-16 {
	background-color: #7fbbb3;
}
.schedule-color-17 {
	background-color: #7fbbb3;
}
